<h1>Director <%= @director.name %></h1>

<dl>
  <dt>Dob</dt>
  <dd><%= @director.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @director.bio %></dd>

  <dt>Image url</dt>
  <dd><%= @director.image_url %></dd>

  <dt>Image url</dt>
  <dd><%= @director.image_url %></dd>

  <dt>Number of Movies directed</dt>
  <dd><%= @movies.count %></dd>

  <% if @movies.count >0 then -%>
    <dt>Movies directed</dt>
    <% @movies.each do |mv| -%>
      <dd><%= mv.title %> - <%= mv.year %> </dd>
    <% end -%>
  <% end -%>
  <dt>Quick Add Movie</dt>
  <%= form_tag(movies_url, method: 'post') do %>
  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :year %><br />
    <%= number_field_tag :year %>
  </div>

  <div>
    <%= label_tag :duration %><br />
    <%= number_field_tag :duration %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_area_tag :description %>
  </div>

  <div>
    <%= label_tag :image_url %><br />
    <%= text_field_tag :image_url %>
  </div>
  <!--Adding hidden atribute for director id -->
  <input name="director_id" type="hidden" value="<%= @director.id %>">

  <div>
    <%= submit_tag "Create Movie" %>
  </div>
  <% end %>

</dl>
