<h1>Editing Character #<%= @character.id %></h1>

<%= form_tag(character_url(@character), method: 'patch') do %>
  <div>
    <p><%= link_to 'Add a New Movie', new_movie_url %></p>
    <%= label_tag :movie_id %><br />
    <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @character.movie_id), :class => "form-control") =%>
  </div>

  <div>
    <%= label_tag :actor_id %><br />
    <!-- Adding Actor dropdown as well... -->
    <%= select_tag(:actor_id, options_from_collection_for_select(Actor.all, :id, :name, @character.actor_id), :class => "form-control") =%>
  </div>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @character.name %>
  </div>

  <div>
    <%= submit_tag "Update Character" %>
  </div>
<% end %>
